body{
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    background-color: lightsalmon;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: thistle;
    position: fixed;
    top: 0;
    margin: 0;
    width:100%;
    

}

.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.page-header a{
    display: block;
    padding:0.5em;
    text-decoration:none;
}
.page-header button{
    align-self: center;
    border-radius: 30px;
    margin-top: auto;
    justify-self: center;
}
.items {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-column-gap: 200px;
    margin-left: 100px;
    margin-top: 50px;
}
.item {
    display: flex;
    border: solid 1px;
    width: 300px;
    margin-top: 30px;
    flex-direction: column;
}

.item button{
    display: flex;
    align-self: center;
    justify-self: flex-end;
    margin-top: auto;
    background-color: teal;
    padding: 1em;
}

footer button{
    padding:0.5em;
    background-color: green;
    color: honeydew;
    border-radius: 30px;
}
footer{
    background-color: gray;
    margin: 0;
    bottom: 0;
    position: fixed;
}
footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
footer ul li{
    background-color: darkgray;
    padding:0.25em;
    width: 500px;
    margin: 0;
    bottom: 0;
    position: relative;
}
footer input{
    width: 40px;
}